jade/advantage/expert/expert08.jade
extends ../../layout.jade
//各ページごとOGPの設定
//共通設定を使う場合はblockごと削除
block ogp
	-
		var ogp = {
			'title':'test',
			'description':'test',
			'url':'test',
			'image':'test',
			'siteName':'test',
			'lang':'test',
			'fbid':'test',
			'fbid':'test'
		}
//各ページごとmetaの設定
//共通設定を使う場合はblockごと削除
block meta
	-
		var meta = {
			title:'倉庫部門 南陽一 - 物流を支えるエキスパートたち - サントリーロジスティクスの強み',
			desc:'de',
			key:'キーワード'
		}
//各ページごとbody classの設定
//複数設定したい場合は半角スペース区切り
//共通設定を使う場合はblockごと削除
//※削除した場合は「lower」が付与される
block slug
	- slug = ''

block pageTtl
	.contHeader
		.contHeaderInner
			h1.contHeaderTtl サントリーロジスティクスの強み
			p.contHeaderSubttl ADVANTAGE
			ul.breadcrumbs
				li <a href="#{assets_prefix}">ホーム</a>
				li <a href="#{assets_prefix}advantage/">強み</a>
				li <a href="#{assets_prefix}advantage/expert/">物流を支えるエキスパートたち</a>
				li 倉庫部門 南陽一
block contents
	.pageHeader
		h2.pageHeaderTtl 物流を支えるエキスパートたち
	.mvPage.mvPageExpert
		img.pc(src = "#{assets_prefix}/images/img_expert08_01.jpg")
		img.sp(src = "#{assets_prefix}/images/img_expert08_01_sp.jpg")
		h3.expertTtl 安全を第一に、常に先読みして<br>効率のいい作業を<br>心がけています。
		p.expertName
			<small>倉庫部門</small> 南陽一
	.contWrap
		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert08_02.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert08_02@2x.jpg")
			.col06
				h4.colTtl 瞬時の判断が効率に繋がる
				p 私は埼玉支店でフォークマンとして、荷下ろしや格納など倉庫内での作業を担当しています。<br>仕事の流れを簡単に説明すると、倉庫に到着したトラックを誘導し、入荷検品をして予定通りの荷物が届いたことを確認したら、トラックから荷物を下ろして格納するのですが、この時大切なのが、「どこに格納するのか」と、「どこに誘導するのか」の判断です。
		.row
			.col06R
				img.pc(src="#{assets_prefix}/images/img_expert08_03.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert08_03@2x.jpg")
			.col06
				p 「荷物をどこに格納するのか」に関しては、トラックが倉庫に到着すると受付からどんな荷物が届いたのか無線で連絡がくるので、それを聞いて瞬時に判断しています。なるべく無駄な動きを抑えられるよう、届いたその荷物のことだけでなく他にどんな荷物が届くのか、翌日の入庫予定はどうなっているのかまでを把握しておくよう気をつけています。<br>「トラックをどこに誘導するのか」については、誘導した場所から格納する場所までが遠ければ、それだけ積み下ろしに時間がかかってしまい時間のロスになります。後から来るトラックを待機させてしまうことにもつながり、効率が悪くなってしまうので、とても重要なのです。<br>特に繁忙期になると、トラックの台数も荷物も大幅に増えるため、普段以上に効率のいい作業が不可欠なので、フォークマン同士で連携して乗り越えています。

		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert08_04.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert08_04@2x.jpg")
			.col06
				h4.colTtl どんなに忙しくても安全を優先
				p 一番大切にしているのは、安全面です。どんなに忙しくても安全を優先して、お互いの声かけや指さし確認を徹底して行っています。<br>週に1度は、安全推進部による巡回があります。以前は指摘事項もありましたが、「安全が仕事の要」　ということを繰り返し唱えられるうちに意識が変わり、今はもう１人１人の安全への意識がとても高いですね。
				p 常に次の工程を考えながら作業しているのですが、イメージ通り無駄なく作業できたときは、すごく達成感を感じますね。この仕事はすごくやりがいがあって楽しいですし、自分に向いていると感じています。<br>運営面でも安全面でも、もっとよくしていけると思うので、そのために気づいたことはみんなで変えていきたいです。与えられた仕事をきっちりとこなすことはもちろん、それ以上に自分に何ができるかを考えていきたいですね。
		include _inc_expert_list

	.contNav
		.contNavTtl サントリーロジスティクスの強み
		.contNavSubttl ADVANTAGE
		nav
			ul
				li
					a
						span 高効率な<br>輸配送
				li
					a
						span 物流品質
				li
					a
						span 物流提案力
				li
					a
						span 物流を支える<br>エキスパート<br>たち

advantage/expert/expert08.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes" name="viewport">
  <title>倉庫部門 南陽一 - 物流を支えるエキスパートたち - サントリーロジスティクスの強み</title>
  <meta name="description" content="de"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="../../css/style.css">
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
  <script src="https://ajax.googlaeapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" type="text/javascript"></script>
</head>
<body id="top">
  <div id="wrap">
    <header id="header" class="headerLower">
      <div class="headerLowerInner">
        <h1 class="logo"><a href="/">SUNTORY LOGISTICS 物流でできること、もっと、もっと。</a></h1>
        <nav class="gNav">
          <ul>
            <li><a href="/">サントリーロジスティクスの強み</a></li>
            <li><a href="/">事業案内</a></li>
            <li><a href="/">安全品質・環境について</a></li>
            <li><a href="/">事業所紹介</a></li>
            <li><a href="/">会社情報</a></li>
          </ul>
        </nav>
        <div class="tel"><a>06-6345-2880</a>
          <p>受付時間 9:00〜18:00（土日祝除く）</p>
        </div>
      </div>
    </header>
    <div class="contHeader">
      <div class="contHeaderInner">
        <h1 class="contHeaderTtl">サントリーロジスティクスの強み</h1>
        <p class="contHeaderSubttl">ADVANTAGE</p>
        <ul class="breadcrumbs">
          <li><a href="../../">ホーム</a></li>
          <li><a href="../../advantage/">強み</a></li>
          <li><a href="../../advantage/expert/">物流を支えるエキスパートたち</a></li>
          <li>倉庫部門 南陽一</li>
        </ul>
      </div>
    </div>
    <div class="pageHeader">
      <h2 class="pageHeaderTtl">物流を支えるエキスパートたち</h2>
    </div>
    <div class="mvPage mvPageExpert"><img src="../..//images/img_expert08_01.jpg" class="pc"><img src="../..//images/img_expert08_01_sp.jpg" class="sp">
      <h3 class="expertTtl">安全を第一に、常に先読みして<br>効率のいい作業を<br>心がけています。</h3>
      <p class="expertName"><small>倉庫部門</small> 南陽一</p>
    </div>
    <div class="contWrap">
      <div class="row">
        <div class="col06"><img src="../..//images/img_expert08_02.jpg" class="pc"><img src="../..//images/img_expert08_02@2x.jpg" class="sp"></div>
        <div class="col06">
          <h4 class="colTtl">瞬時の判断が効率に繋がる</h4>
          <p>私は埼玉支店でフォークマンとして、荷下ろしや格納など倉庫内での作業を担当しています。<br>仕事の流れを簡単に説明すると、倉庫に到着したトラックを誘導し、入荷検品をして予定通りの荷物が届いたことを確認したら、トラックから荷物を下ろして格納するのですが、この時大切なのが、「どこに格納するのか」と、「どこに誘導するのか」の判断です。</p>
        </div>
      </div>
      <div class="row">
        <div class="col06R"><img src="../..//images/img_expert08_03.jpg" class="pc"><img src="../..//images/img_expert08_03@2x.jpg" class="sp"></div>
        <div class="col06">
          <p>「荷物をどこに格納するのか」に関しては、トラックが倉庫に到着すると受付からどんな荷物が届いたのか無線で連絡がくるので、それを聞いて瞬時に判断しています。なるべく無駄な動きを抑えられるよう、届いたその荷物のことだけでなく他にどんな荷物が届くのか、翌日の入庫予定はどうなっているのかまでを把握しておくよう気をつけています。<br>「トラックをどこに誘導するのか」については、誘導した場所から格納する場所までが遠ければ、それだけ積み下ろしに時間がかかってしまい時間のロスになります。後から来るトラックを待機させてしまうことにもつながり、効率が悪くなってしまうので、とても重要なのです。<br>特に繁忙期になると、トラックの台数も荷物も大幅に増えるため、普段以上に効率のいい作業が不可欠なので、フォークマン同士で連携して乗り越えています。</p>
        </div>
      </div>
      <div class="row">
        <div class="col06"><img src="../..//images/img_expert08_04.jpg" class="pc"><img src="../..//images/img_expert08_04@2x.jpg" class="sp"></div>
        <div class="col06">
          <h4 class="colTtl">どんなに忙しくても安全を優先</h4>
          <p>一番大切にしているのは、安全面です。どんなに忙しくても安全を優先して、お互いの声かけや指さし確認を徹底して行っています。<br>週に1度は、安全推進部による巡回があります。以前は指摘事項もありましたが、「安全が仕事の要」　ということを繰り返し唱えられるうちに意識が変わり、今はもう１人１人の安全への意識がとても高いですね。</p>
          <p>常に次の工程を考えながら作業しているのですが、イメージ通り無駄なく作業できたときは、すごく達成感を感じますね。この仕事はすごくやりがいがあって楽しいですし、自分に向いていると感じています。<br>運営面でも安全面でも、もっとよくしていけると思うので、そのために気づいたことはみんなで変えていきたいです。与えられた仕事をきっちりとこなすことはもちろん、それ以上に自分に何ができるかを考えていきたいですね。</p>
        </div>
      </div>
      <ul class="entryList">
        <li class="entry">
          <p class="entryThumb"><a href="expert01.html"><img src="../..//images/img_expert_02.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">“効率化”という<br>付加価値を生み出す</a></p>
          <p class="entryText">営業部　齋藤玉樹</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert02.html"><img src="../..//images/img_expert_03.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">「安全のため」という<br>信念を持って</a></p>
          <p class="entryText">安全推進部　鵜川誠</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert03.html"><img src="../..//images/img_expert_04.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">得意先の受注に<br>確実に応える</a></p>
          <p class="entryText">在庫配置　松崎遙</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert04.html"><img src="../..//images/img_expert_05.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">効率のいい配車を<br>実現するために</a></p>
          <p class="entryText">統合配車　伊藤正宏</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert05.html"><img src="../..//images/img_expert_06.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">繁忙期を乗り切る<br>配車のために</a></p>
          <p class="entryText">運送部門　大川正人</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert06.html"><img src="../..//images/img_expert_07.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">品質を守りながら<br>安全に運びきる</a></p>
          <p class="entryText">運送部門　中前勝也</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert07.html"><img src="../..//images/img_expert_08.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">稼働率の高い<br>倉庫を目指して</a></p>
          <p class="entryText">倉庫部門　山下真吾</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert08.html"><img src="../..//images/img_expert_09.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">安全を第一に<br>効率のいい作業を</a></p>
          <p class="entryText">倉庫部門　南陽一</p>
        </li>
      </ul>
    </div>
    <div class="contNav">
      <div class="contNavTtl">サントリーロジスティクスの強み</div>
      <div class="contNavSubttl">ADVANTAGE</div>
      <nav>
        <ul>
          <li><a><span>高効率な<br>輸配送</span></a></li>
          <li><a><span>物流品質</span></a></li>
          <li><a><span>物流提案力</span></a></li>
          <li><a><span>物流を支える<br>エキスパート<br>たち</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="footer">
      <div class="footerInner">
        <div class="logoFooter"><a href="/">SUNTORY LOGISTICS</a></div>
        <div class="colFooterL">
          <h3 class="footerTtl">サントリーロジスティクス株式会社</h3>
          <p class="footerInfo">大阪市北区堂島浜2-2-28　堂島アクシスビル6階<br>TEL：<span class="tel-lni">06-6345-2880</span></p>
          <p class="footerTel"><span class="tel-link"></span></p>
          <ul class="footerIcon">
            <li class="footerIcon01">グリーン経営認証</li>
            <li class="footerIcon02">安全性優良事業所認定「Gマーク」</li>
            <li class="footerIcon03">Pマーク</li>
          </ul>
          <p class="footerLink"><a>個人情報保護方針</a><a>サイトのご利用について</a></p>
        </div>
        <div class="colFooterR">
          <nav class="fNav">
            <dl>
              <dt><a href="">サントリーロジスティクスの強み</a></dt>
              <dd><a href="">1,高効率な輸配送</a></dd>
              <dd><a href="">2,物流品質</a></dd>
              <dd><a href="">3,物流提案力</a></dd>
              <dd><a href="">物流を支えるエキスパート達</a></dd>
            </dl>
            <dl>
              <dt><a href="">安全品質・環境について</a></dt>
              <dd><a href="">安全品質の仕組み</a></dd>
              <dd><a href="">安全品質の活動</a></dd>
              <dd><a href="">環境への取り組み</a></dd>
              <dd><a href="">現場改善活動事例</a></dd>
              <dd><a href="">グリーンエコベルト開発秘話</a></dd>
            </dl>
            <dl>
              <dt><a href="">会社情報</a></dt>
              <dd><a href="">代表挨拶</a></dd>
              <dd><a href="">会社概要</a></dd>
              <dd><a href="">経営理念</a></dd>
              <dd><a href="">沿革</a></dd>
              <dd><a href="">組織</a></dd>
            </dl>
            <dl>
              <dt><a href="">事業案内</a></dt>
              <dd><a href="">輸配送ネットワーク</a></dd>
              <dd><a href="">物流サービス</a></dd>
              <dd><a href="">倉庫サービス</a></dd>
              <dd><a href="">物流改善提案</a></dd>
            </dl>
            <dl>
              <dt><a href="">事業所紹介</a></dt>
              <dd><a href="">神奈川支店</a></dd>
              <dd><a href="">埼玉支店</a></dd>
              <dd><a href="">南大阪支店</a></dd>
            </dl>
            <dl>
              <dt><a href="">採用情報</a></dt>
              <dd><a href="">採用メッセージ</a></dd>
              <dd><a href="">人事部部長メッセージ</a></dd>
              <dd><a href="">すぐわかるサンロジ！</a></dd>
              <dd><a href="">新入社員座談会</a></dd>
              <dd><a href="">研修制度</a></dd>
              <dd><a href="">募集要項(新卒)</a></dd>
              <dd><a href="">募集要項(キャリア)</a></dd>
            </dl>
          </nav>
        </div>
      </div>
      <div class="copyright">© SUNTORY LOGISTICS Ltd.</div>
    </div>
    <p class="totop"><a href="#top">TOP</a></p>
    <div id="responsive_flg"></div>
    <div id="totop"><a href="#top">トップへ</a></div>
  </div>
  <script src="../../js/script.js"></script>
</body></html>
