jade/advantage/expert/expert03.jade
extends ../../layout.jade
//各ページごとOGPの設定
//共通設定を使う場合はblockごと削除
block ogp
	-
		var ogp = {
			'title':'test',
			'description':'test',
			'url':'test',
			'image':'test',
			'siteName':'test',
			'lang':'test',
			'fbid':'test',
			'fbid':'test'
		}
//各ページごとmetaの設定
//共通設定を使う場合はblockごと削除
block meta
	-
		var meta = {
			title:'在庫配置センター 松崎遥 - 物流を支えるエキスパートたち - サントリーロジスティクスの強み',
			desc:'de',
			key:'キーワード'
		}
//各ページごとbody classの設定
//複数設定したい場合は半角スペース区切り
//共通設定を使う場合はblockごと削除
//※削除した場合は「lower」が付与される
block slug
	- slug = ''

block pageTtl
	.contHeader
		.contHeaderInner
			h1.contHeaderTtl サントリーロジスティクスの強み
			p.contHeaderSubttl ADVANTAGE
			ul.breadcrumbs
				li <a href="#{assets_prefix}">ホーム</a>
				li <a href="#{assets_prefix}advantage/">強み</a>
				li <a href="#{assets_prefix}advantage/expert/">物流を支えるエキスパートたち</a>
				li 在庫配置センター 松崎遥
block contents
	.pageHeader
		h2.pageHeaderTtl 物流を支えるエキスパートたち
	.mvPage.mvPageExpert
		img.pc(src = "#{assets_prefix}/images/img_expert03_01.jpg")
		img.sp(src = "#{assets_prefix}/images/img_expert03_01_sp.jpg")
		h3.expertTtl 得意先様からの受注に<br>滞りなく応えるため、<br>情報収集を大切にしています。
		p.expertName
			<small>在庫配置センター</small> 松崎遥
	.contWrap
		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert03_02.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert03_02@2x.jpg")
			.col06
				h4.colTtl データから予測を立て適正な在庫を配置
				p コンビニやスーパーの店頭に並ぶサントリー製品の在庫を一定に保つため、製造工場から担当エリアである東北と北海道の配送センターに必要数量分の在庫を配置しています。日々の在庫状況と得意先様からの受注状況を確認しながら、受注に応えられるよう製品の移動手配を行うのですが、前年度の出荷動向や販売計画などのデータを見て数量を決めていくため、責任は重大です。在庫を切らさないようにすることは大事ですが、配置しすぎても返品に繋がってしまいます。トラックなどの数との兼ね合いも考慮しながら効率よく配置することが重要であり、難しいところです。
		.row
			.col06R
				img.pc(src="#{assets_prefix}/images/img_expert03_03.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert03_03@2x.jpg")
			.col06
				p だからこそ、自分が立てた予測が当たった時にはやりがいを感じますね。特に新商品が出るときは、製造のスケジュールが変動的だったり、予想以上の発注があったりするので、小さな情報も取りこぼさないよう気をつけています。自分が担当している商品が店頭に並んでいるのを見るとホッとしますね。また、天候状況によっても得意先様からの発注状況は変わります。さらに北海道へは船で運ぶので、気圧の影響で波が高いと出航できないんです。今までは、自分の住んでいるところの天気予報しか見ていませんでしたが、今は担当エリアのチェックが欠かせません。<br>はじめは苦労しましたが、ようやく掴めるようになってきました。

		.row
			.col06
				img.pc(src="#{assets_prefix}/images/img_expert03_04.jpg")
				img.sp(src = "#{assets_prefix}/images/img_expert03_04@2x.jpg")
			.col06
				h4.colTtl どんな困難も乗り越えられるチームワーク
				p サントリーロジスティクスの強みは、何かあっても対処できるところだと思います。トラブルが起こった時は、部署や担当関係なく集まって、みんなで同じ方向を向いて乗り越えようと動いてくれるので、すごく心強いですね。
				p また、在庫配置センターの中にも、倉庫部門や輸送部門などの現場経験者が多いのも強みの1つだと思います。私自身も以前は倉庫にいたので、普段、倉庫の方をやりとりをする時はなるべく現場が動きやすい状況を気づかうようにしています。「倉庫にいたからわかるよね」って、信頼してもらえるものうれしいですね。<br>社内には、カッコイイ女性の先輩もたくさんおられます。憧れの先輩みたいに活躍できるように、これからも頑張りたいです。
		include _inc_expert_list

	.contNav
		.contNavTtl サントリーロジスティクスの強み
		.contNavSubttl ADVANTAGE
		nav
			ul
				li
					a
						span 高効率な<br>輸配送
				li
					a
						span 物流品質
				li
					a
						span 物流提案力
				li
					a
						span 物流を支える<br>エキスパート<br>たち

advantage/expert/expert03.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes" name="viewport">
  <title>在庫配置センター 松崎遥 - 物流を支えるエキスパートたち - サントリーロジスティクスの強み</title>
  <meta name="description" content="de"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="../../css/style.css">
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
  <script src="https://ajax.googlaeapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" type="text/javascript"></script>
</head>
<body id="top">
  <div id="wrap">
    <header id="header" class="headerLower">
      <div class="headerLowerInner">
        <h1 class="logo"><a href="/">SUNTORY LOGISTICS 物流でできること、もっと、もっと。</a></h1>
        <nav class="gNav">
          <ul>
            <li><a href="/">サントリーロジスティクスの強み</a></li>
            <li><a href="/">事業案内</a></li>
            <li><a href="/">安全品質・環境について</a></li>
            <li><a href="/">事業所紹介</a></li>
            <li><a href="/">会社情報</a></li>
          </ul>
        </nav>
        <div class="tel"><a>06-6345-2880</a>
          <p>受付時間 9:00〜18:00（土日祝除く）</p>
        </div>
      </div>
    </header>
    <div class="contHeader">
      <div class="contHeaderInner">
        <h1 class="contHeaderTtl">サントリーロジスティクスの強み</h1>
        <p class="contHeaderSubttl">ADVANTAGE</p>
        <ul class="breadcrumbs">
          <li><a href="../../">ホーム</a></li>
          <li><a href="../../advantage/">強み</a></li>
          <li><a href="../../advantage/expert/">物流を支えるエキスパートたち</a></li>
          <li>在庫配置センター 松崎遥</li>
        </ul>
      </div>
    </div>
    <div class="pageHeader">
      <h2 class="pageHeaderTtl">物流を支えるエキスパートたち</h2>
    </div>
    <div class="mvPage mvPageExpert"><img src="../..//images/img_expert03_01.jpg" class="pc"><img src="../..//images/img_expert03_01_sp.jpg" class="sp">
      <h3 class="expertTtl">得意先様からの受注に<br>滞りなく応えるため、<br>情報収集を大切にしています。</h3>
      <p class="expertName"><small>在庫配置センター</small> 松崎遥</p>
    </div>
    <div class="contWrap">
      <div class="row">
        <div class="col06"><img src="../..//images/img_expert03_02.jpg" class="pc"><img src="../..//images/img_expert03_02@2x.jpg" class="sp"></div>
        <div class="col06">
          <h4 class="colTtl">データから予測を立て適正な在庫を配置</h4>
          <p>コンビニやスーパーの店頭に並ぶサントリー製品の在庫を一定に保つため、製造工場から担当エリアである東北と北海道の配送センターに必要数量分の在庫を配置しています。日々の在庫状況と得意先様からの受注状況を確認しながら、受注に応えられるよう製品の移動手配を行うのですが、前年度の出荷動向や販売計画などのデータを見て数量を決めていくため、責任は重大です。在庫を切らさないようにすることは大事ですが、配置しすぎても返品に繋がってしまいます。トラックなどの数との兼ね合いも考慮しながら効率よく配置することが重要であり、難しいところです。</p>
        </div>
      </div>
      <div class="row">
        <div class="col06R"><img src="../..//images/img_expert03_03.jpg" class="pc"><img src="../..//images/img_expert03_03@2x.jpg" class="sp"></div>
        <div class="col06">
          <p>だからこそ、自分が立てた予測が当たった時にはやりがいを感じますね。特に新商品が出るときは、製造のスケジュールが変動的だったり、予想以上の発注があったりするので、小さな情報も取りこぼさないよう気をつけています。自分が担当している商品が店頭に並んでいるのを見るとホッとしますね。また、天候状況によっても得意先様からの発注状況は変わります。さらに北海道へは船で運ぶので、気圧の影響で波が高いと出航できないんです。今までは、自分の住んでいるところの天気予報しか見ていませんでしたが、今は担当エリアのチェックが欠かせません。<br>はじめは苦労しましたが、ようやく掴めるようになってきました。</p>
        </div>
      </div>
      <div class="row">
        <div class="col06"><img src="../..//images/img_expert03_04.jpg" class="pc"><img src="../..//images/img_expert03_04@2x.jpg" class="sp"></div>
        <div class="col06">
          <h4 class="colTtl">どんな困難も乗り越えられるチームワーク</h4>
          <p>サントリーロジスティクスの強みは、何かあっても対処できるところだと思います。トラブルが起こった時は、部署や担当関係なく集まって、みんなで同じ方向を向いて乗り越えようと動いてくれるので、すごく心強いですね。</p>
          <p>また、在庫配置センターの中にも、倉庫部門や輸送部門などの現場経験者が多いのも強みの1つだと思います。私自身も以前は倉庫にいたので、普段、倉庫の方をやりとりをする時はなるべく現場が動きやすい状況を気づかうようにしています。「倉庫にいたからわかるよね」って、信頼してもらえるものうれしいですね。<br>社内には、カッコイイ女性の先輩もたくさんおられます。憧れの先輩みたいに活躍できるように、これからも頑張りたいです。</p>
        </div>
      </div>
      <ul class="entryList">
        <li class="entry">
          <p class="entryThumb"><a href="expert01.html"><img src="../..//images/img_expert_02.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">“効率化”という<br>付加価値を生み出す</a></p>
          <p class="entryText">営業部　齋藤玉樹</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert02.html"><img src="../..//images/img_expert_03.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">「安全のため」という<br>信念を持って</a></p>
          <p class="entryText">安全推進部　鵜川誠</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert03.html"><img src="../..//images/img_expert_04.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">得意先の受注に<br>確実に応える</a></p>
          <p class="entryText">在庫配置　松崎遙</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert04.html"><img src="../..//images/img_expert_05.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">効率のいい配車を<br>実現するために</a></p>
          <p class="entryText">統合配車　伊藤正宏</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert05.html"><img src="../..//images/img_expert_06.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">繁忙期を乗り切る<br>配車のために</a></p>
          <p class="entryText">運送部門　大川正人</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert06.html"><img src="../..//images/img_expert_07.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">品質を守りながら<br>安全に運びきる</a></p>
          <p class="entryText">運送部門　中前勝也</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert07.html"><img src="../..//images/img_expert_08.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">稼働率の高い<br>倉庫を目指して</a></p>
          <p class="entryText">倉庫部門　山下真吾</p>
        </li>
        <li class="entry">
          <p class="entryThumb"><a href="expert08.html"><img src="../..//images/img_expert_09.jpg"></a></p>
          <p class="entryTtl"><a href="expert01.html">安全を第一に<br>効率のいい作業を</a></p>
          <p class="entryText">倉庫部門　南陽一</p>
        </li>
      </ul>
    </div>
    <div class="contNav">
      <div class="contNavTtl">サントリーロジスティクスの強み</div>
      <div class="contNavSubttl">ADVANTAGE</div>
      <nav>
        <ul>
          <li><a><span>高効率な<br>輸配送</span></a></li>
          <li><a><span>物流品質</span></a></li>
          <li><a><span>物流提案力</span></a></li>
          <li><a><span>物流を支える<br>エキスパート<br>たち</span></a></li>
        </ul>
      </nav>
    </div>
    <div class="footer">
      <div class="footerInner">
        <div class="logoFooter"><a href="/">SUNTORY LOGISTICS</a></div>
        <div class="colFooterL">
          <h3 class="footerTtl">サントリーロジスティクス株式会社</h3>
          <p class="footerInfo">大阪市北区堂島浜2-2-28　堂島アクシスビル6階<br>TEL：<span class="tel-lni">06-6345-2880</span></p>
          <p class="footerTel"><span class="tel-link"></span></p>
          <ul class="footerIcon">
            <li class="footerIcon01">グリーン経営認証</li>
            <li class="footerIcon02">安全性優良事業所認定「Gマーク」</li>
            <li class="footerIcon03">Pマーク</li>
          </ul>
          <p class="footerLink"><a>個人情報保護方針</a><a>サイトのご利用について</a></p>
        </div>
        <div class="colFooterR">
          <nav class="fNav">
            <dl>
              <dt><a href="">サントリーロジスティクスの強み</a></dt>
              <dd><a href="">1,高効率な輸配送</a></dd>
              <dd><a href="">2,物流品質</a></dd>
              <dd><a href="">3,物流提案力</a></dd>
              <dd><a href="">物流を支えるエキスパート達</a></dd>
            </dl>
            <dl>
              <dt><a href="">安全品質・環境について</a></dt>
              <dd><a href="">安全品質の仕組み</a></dd>
              <dd><a href="">安全品質の活動</a></dd>
              <dd><a href="">環境への取り組み</a></dd>
              <dd><a href="">現場改善活動事例</a></dd>
              <dd><a href="">グリーンエコベルト開発秘話</a></dd>
            </dl>
            <dl>
              <dt><a href="">会社情報</a></dt>
              <dd><a href="">代表挨拶</a></dd>
              <dd><a href="">会社概要</a></dd>
              <dd><a href="">経営理念</a></dd>
              <dd><a href="">沿革</a></dd>
              <dd><a href="">組織</a></dd>
            </dl>
            <dl>
              <dt><a href="">事業案内</a></dt>
              <dd><a href="">輸配送ネットワーク</a></dd>
              <dd><a href="">物流サービス</a></dd>
              <dd><a href="">倉庫サービス</a></dd>
              <dd><a href="">物流改善提案</a></dd>
            </dl>
            <dl>
              <dt><a href="">事業所紹介</a></dt>
              <dd><a href="">神奈川支店</a></dd>
              <dd><a href="">埼玉支店</a></dd>
              <dd><a href="">南大阪支店</a></dd>
            </dl>
            <dl>
              <dt><a href="">採用情報</a></dt>
              <dd><a href="">採用メッセージ</a></dd>
              <dd><a href="">人事部部長メッセージ</a></dd>
              <dd><a href="">すぐわかるサンロジ！</a></dd>
              <dd><a href="">新入社員座談会</a></dd>
              <dd><a href="">研修制度</a></dd>
              <dd><a href="">募集要項(新卒)</a></dd>
              <dd><a href="">募集要項(キャリア)</a></dd>
            </dl>
          </nav>
        </div>
      </div>
      <div class="copyright">© SUNTORY LOGISTICS Ltd.</div>
    </div>
    <p class="totop"><a href="#top">TOP</a></p>
    <div id="responsive_flg"></div>
    <div id="totop"><a href="#top">トップへ</a></div>
  </div>
  <script src="../../js/script.js"></script>
</body></html>
