jade/layout.jade
block ogp
	-
		var ogp = {
			'title':'test',
			'description':'test',
			'url':'test',
			'image':'test',
			'siteName':'test',
			'lang':'test',
			'fbid':'test',
			'fbid':'test'
		}
block meta
	-
		var meta = {
			title:'ページタイトル',
			desc:'ディスクリプション',
			key:'キーワード'
		}
include _inc_mixins
include _inc_conditional
block slug
	- var slug = 'lower'
	- var is_contact = false
head
	block meta_data
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(charset='UTF-8')
		meta#viewport(content='width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes', name='viewport')
		+base_meta(meta)
		+ogp(ogp)
	block css
		include _inc_css
body#top(class=slug)
	#wrap
		//- nav#spnavi.spnavi.sp
		//- 	#scroller
		//- 		ul
		//- 			li
		//- 				a(href="") nav1
		//- 			li
		//- 				a(href="") nav2
		//- 			li
		//- 				a(href="") nav3

		//- .btn_sp_navi_wrap
		//- 	a.btn_sp_navi.nosc.nosms(href='#sp')
		//- 		i.fa.fa-bars(aria-hidden='true')
		//- 		br
		//- 		span MENU
		block header
			header#header.headerLower
				.headerLowerInner
					h1.logo
						a(href = "/") SUNTORY LOGISTICS 物流でできること、もっと、もっと。
					nav.gNav
						ul
							li
								a(href="/") サントリーロジスティクスの強み
							li
								a(href="/") 事業案内
							li
								a(href="/") 安全品質・環境について
							li
								a(href="/") 事業所紹介
							li
								a(href="/") 会社情報
					.tel
						a 06-6345-2880
						p 受付時間 9:00〜18:00（土日祝除く）

		block pageTtl

		block contents
			p
				| Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				| tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
				| quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				| consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				| cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				| proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		block footer
			.footer
				.footerInner
					.logoFooter
						a(href = "/") SUNTORY LOGISTICS

					.colFooterL
						h3.footerTtl サントリーロジスティクス株式会社
						p.footerInfo 大阪市北区堂島浜2-2-28　堂島アクシスビル6階<br>TEL：<span class="tel-lni">06-6345-2880</span>
						p.footerTel
							span.tel-link
						ul.footerIcon
							li.footerIcon01 グリーン経営認証
							li.footerIcon02 安全性優良事業所認定「Gマーク」
							li.footerIcon03 Pマーク
						p.footerLink
							a 個人情報保護方針
							a サイトのご利用について
					.colFooterR
						nav.fNav
							dl
								dt <a href="">サントリーロジスティクスの強み</a>
								dd <a href="">1,高効率な輸配送</a>
								dd <a href="">2,物流品質</a>
								dd <a href="">3,物流提案力</a>
								dd <a href="">物流を支えるエキスパート達</a>

							dl
								dt <a href="">安全品質・環境について</a>
								dd <a href="">安全品質の仕組み</a>
								dd <a href="">安全品質の活動</a>
								dd <a href="">環境への取り組み</a>
								dd <a href="">現場改善活動事例</a>
								dd <a href="">グリーンエコベルト開発秘話</a>

							dl
								dt <a href="">会社情報</a>
								dd <a href="">代表挨拶</a>
								dd <a href="">会社概要</a>
								dd <a href="">経営理念</a>
								dd <a href="">沿革</a>
								dd <a href="">組織</a>

							dl
								dt <a href="">事業案内</a>
								dd <a href="">輸配送ネットワーク</a>
								dd <a href="">物流サービス</a>
								dd <a href="">倉庫サービス</a>
								dd <a href="">物流改善提案</a>

							dl
								dt <a href="">事業所紹介</a>
								dd <a href="">神奈川支店</a>
								dd <a href="">埼玉支店</a>
								dd <a href="">南大阪支店</a>

							dl
								dt <a href="">採用情報</a>
								dd <a href="">採用メッセージ</a>
								dd <a href="">人事部部長メッセージ</a>
								dd <a href="">すぐわかるサンロジ！</a>
								dd <a href="">新入社員座談会</a>
								dd <a href="">研修制度</a>
								dd <a href="">募集要項(新卒)</a>
								dd <a href="">募集要項(キャリア)</a>
				.copyright © SUNTORY LOGISTICS Ltd.
		block totop
			p.totop
				a(href = "#top") TOP
		block flg
			#responsive_flg
		#totop
			a(href="#top") トップへ
	block scripts
		include _inc_scripts

</html>

layout.html
<!DOCTYPE html><!-- [if IEMobile 7 ]>  <html lang="ja-JP" class="no-js iem7"><![endif] -->
<!-- [if lt IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 lt-ie7 ie6"><![endif] -->
<!-- [if IE 7]><html lang="ja-JP" class="no-js lt-ie9 lt-ie8 ie7"><![endif] -->
<!-- [if IE 8]><html lang="ja-JP" class="no-js lt-ie9 ie8"><![endif] -->

<!-- [if (gte IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="ja-JP" class="no-js"><!--<![endif]-->
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="UTF-8">
  <meta id="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes" name="viewport">
  <title>ページタイトル</title>
  <meta name="description" content="ディスクリプション"/>
  <meta name="keywords" content="キーワード"/>
  <!-- ogp tags-->
  <meta property="og:title" content="test"/>
  <meta property="og:type" content="article"/>
  <meta property="og:description" content="test"/>
  <meta property="og:url" content="test"/>
  <meta property="og:image" content="test"/>
  <meta property="og:site_name" content="test"/>
  <meta property="og:locale" content="test"/>
  <meta property="fb:admins" content="test"/>
  <meta property="fb:app_id" content="test"/>
  <link rel="stylesheet" href="./css/style.css">
  <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
  <script src="https://ajax.googlaeapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" type="text/javascript"></script>
</head>
<body id="top" class="lower">
  <div id="wrap">
    <header id="header" class="headerLower">
      <div class="headerLowerInner">
        <h1 class="logo"><a href="/">SUNTORY LOGISTICS 物流でできること、もっと、もっと。</a></h1>
        <nav class="gNav">
          <ul>
            <li><a href="/">サントリーロジスティクスの強み</a></li>
            <li><a href="/">事業案内</a></li>
            <li><a href="/">安全品質・環境について</a></li>
            <li><a href="/">事業所紹介</a></li>
            <li><a href="/">会社情報</a></li>
          </ul>
        </nav>
        <div class="tel"><a>06-6345-2880</a>
          <p>受付時間 9:00〜18:00（土日祝除く）</p>
        </div>
      </div>
    </header>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
    <div class="footer">
      <div class="footerInner">
        <div class="logoFooter"><a href="/">SUNTORY LOGISTICS</a></div>
        <div class="colFooterL">
          <h3 class="footerTtl">サントリーロジスティクス株式会社</h3>
          <p class="footerInfo">大阪市北区堂島浜2-2-28　堂島アクシスビル6階<br>TEL：<span class="tel-lni">06-6345-2880</span></p>
          <p class="footerTel"><span class="tel-link"></span></p>
          <ul class="footerIcon">
            <li class="footerIcon01">グリーン経営認証</li>
            <li class="footerIcon02">安全性優良事業所認定「Gマーク」</li>
            <li class="footerIcon03">Pマーク</li>
          </ul>
          <p class="footerLink"><a>個人情報保護方針</a><a>サイトのご利用について</a></p>
        </div>
        <div class="colFooterR">
          <nav class="fNav">
            <dl>
              <dt><a href="">サントリーロジスティクスの強み</a></dt>
              <dd><a href="">1,高効率な輸配送</a></dd>
              <dd><a href="">2,物流品質</a></dd>
              <dd><a href="">3,物流提案力</a></dd>
              <dd><a href="">物流を支えるエキスパート達</a></dd>
            </dl>
            <dl>
              <dt><a href="">安全品質・環境について</a></dt>
              <dd><a href="">安全品質の仕組み</a></dd>
              <dd><a href="">安全品質の活動</a></dd>
              <dd><a href="">環境への取り組み</a></dd>
              <dd><a href="">現場改善活動事例</a></dd>
              <dd><a href="">グリーンエコベルト開発秘話</a></dd>
            </dl>
            <dl>
              <dt><a href="">会社情報</a></dt>
              <dd><a href="">代表挨拶</a></dd>
              <dd><a href="">会社概要</a></dd>
              <dd><a href="">経営理念</a></dd>
              <dd><a href="">沿革</a></dd>
              <dd><a href="">組織</a></dd>
            </dl>
            <dl>
              <dt><a href="">事業案内</a></dt>
              <dd><a href="">輸配送ネットワーク</a></dd>
              <dd><a href="">物流サービス</a></dd>
              <dd><a href="">倉庫サービス</a></dd>
              <dd><a href="">物流改善提案</a></dd>
            </dl>
            <dl>
              <dt><a href="">事業所紹介</a></dt>
              <dd><a href="">神奈川支店</a></dd>
              <dd><a href="">埼玉支店</a></dd>
              <dd><a href="">南大阪支店</a></dd>
            </dl>
            <dl>
              <dt><a href="">採用情報</a></dt>
              <dd><a href="">採用メッセージ</a></dd>
              <dd><a href="">人事部部長メッセージ</a></dd>
              <dd><a href="">すぐわかるサンロジ！</a></dd>
              <dd><a href="">新入社員座談会</a></dd>
              <dd><a href="">研修制度</a></dd>
              <dd><a href="">募集要項(新卒)</a></dd>
              <dd><a href="">募集要項(キャリア)</a></dd>
            </dl>
          </nav>
        </div>
      </div>
      <div class="copyright">© SUNTORY LOGISTICS Ltd.</div>
    </div>
    <p class="totop"><a href="#top">TOP</a></p>
    <div id="responsive_flg"></div>
    <div id="totop"><a href="#top">トップへ</a></div>
  </div>
  <script src="./js/script.js"></script>
</body></html>
