recruit/career.jade
//- index.jade
//- extends layout

//- _layout.jade
doctype html
html(lang="ja")
  head
    include ../includes/materials/meta_head_recruit
    title 中途採用募集要項｜サントリーロジスティクス株式会社
    script(src="/js/analytics_tracking.js" , type="text/javascript")
  body#top.recruit.f7
    include ../includes/modules/header_first_f7
    div#wrapper.clearfix
        include ../includes/templates/f-7
        include ../includes/templates/f-common
    include ../includes/modules/footer_first
    script(src="/js/script.js" , type="text/javascript")
    //- script(src="js/script.js" , type="text/javascript")

recruit/career.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,user-scalable=yes">
    <meta name="format-detection" content="telephone=no">
    <meta name="keywords" content="サントリーロジスティクス株式会社,ロジスティクス,ロジスティックス,SUNTORY,LOGISTICS,物流センター,配送,物流システム,物流会社,倉庫,運輸,3PL,物流">
    <meta name="description" content="オンリーワンの価値ある物流ソリューションをお約束します。サントリーロジスティクスは、お客様が抱える課題1つ1つに向き合い、物流・3PLにおける最適な解決策をご提供いたします。">
    <meta name="author" content="サントリーロジスティクス株式会社　採用サイト">
    <meta name="copyright" content="© SUNTORY LOGISTICS Ltd.">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="icon" href="/images/favicon.ico">
    <link href="/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" type="text/javascript"></script>
    <meta property="og:title" content="サントリーロジスティクス株式会社">
    <meta property="og:site_name" content="サントリーロジスティクス株式会社">
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://www.suntorylogistics.co.jp/">
    <meta property="og:image" content="/images/img_ogp.jpg">
    <meta property="og:description" content="オンリーワンの価値ある物流ソリューションをお約束します。サントリーロジスティクスは、お客様が抱える課題1つ1つに向き合い、物流・3PLにおける最適な解決策をご提供いたします。">
    <meta property="og:locale" content="ja_JP">
    <meta name="twitter:card" content="summary">
    <title>中途採用募集要項｜サントリーロジスティクス株式会社</title>
    <script src="/js/analytics_tracking.js" type="text/javascript"></script>
  </head>
  <body id="top" class="recruit f7">
    <header id="header" class="lHeader">
      <div class="lHeaderFixSP">
        <div class="lHeaderInr uType01">
          <div class="lHeaderWrap">
            <h1 class="lHeaderTtl"><a href="/recruit/index.html">SUNTORY LOGISTICS</a></h1>
            <p class="lHeaderBtn is_close js-navBtn">MENU</p>
            <ul class="lHeaderNav js-navBody">
              <li class="lHeaderItem uSlash fNotoM"><a href="http://www.suntorylogistics.co.jp/" class="is_blank">サントリーロジスティクス</a></li>
              <li class="lHeaderItem uSlash fNotoM"><a href="http://www.suntorylogistics.co.jp/privacy.html" class="is_blank">個人情報保護方針</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="lHeaderInr uType02">
        <div class="lHeaderWrap">
          <h2 class="lHeaderSubttl fNotoR">採用情報<span class="fNotoR fTxt14">RECRUIT</span></h2>
          <ul id="breadcrumbs">
            <li class="lHeaderItem"><a href="/">ホーム</a></li>
            <li class="lHeaderItem"><a href="/recruit/index.html">採用情報</a></li>
            <li class="lHeaderItem"><a href="/recruit/career.html">募集要項(キャリア)</a></li>
          </ul>
        </div>
      </div>
    </header>
    <div id="wrapper" class="clearfix">
      <div class="clearfix lContents uRecruitChildType01">
        <div class="lContentsTtlArea">
          <h2 class="lContentsTtl fNotoM">募集要項(キャリア)</h2>
          <p class="lContentsSubTtl fNotoM">キャリア採用の募集要項について</p>
        </div>
        <div class="lContentsInr">
          <div class="lContentsInrWrap">
            <section class="lContentsSec">
              <p class="lContentsTxt">現在募集は行っておりません</p>
            </section>
          </div>
        </div>
      </div>
      <div class="clearfix lContents uRecruitNav">
        <h2 class="lContentsTtl fNotoM">その他の採用情報</h2>
        <p class="lContentsSubTtl fNotoM">Other Information</p>
        <div class="lContentsListWrap">
          <ul class="lContentsList">
            <li class="lContentsItem fNotoM"><a href="/recruit/topmessage.html"><span>社長<br>メッセージ</span></a></li>
            <li class="lContentsItem fNotoM"><a href="/recruit/message.html"><span>人事部部長<br>メッセージ</span></a></li>
            <li class="lContentsItem fNotoM"><a href="/recruit/infographics.html"><span>すぐわかる<br>サンロジ！</span></a></li>
            <li class="lContentsItem fNotoM"><a href="/recruit/crosstalk/index.html"><span>新入社員<br>座談会</span></a></li>
            <li class="lContentsItem fNotoM"><a href="/recruit/system.html"><span>研修制度</span></a></li>
            <li class="lContentsItem fNotoM"><a href="/recruit/fresh.html"><span>募集要項<br>(新卒)</span></a></li>
            <li class="lContentsItem fNotoM"><a href="/recruit/career.html"><span>募集要項<br>(キャリア)</span></a></li>
          </ul>
        </div>
      </div>
    </div>
    <footer id="footer" class="lFooter">
      <p class="lFooterCopy fNotoL ls006">© SUNTORY LOGISTICS Ltd.</p>
    </footer>
    <script src="/js/script.js" type="text/javascript"></script>
  </body>
</html>
